{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{event.title}}{% endblock %}
{% block content %}
{% include 'events/includes/events_menu.html' %}
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="teal-text text-accent-4">{{event.title}}</h4>
        <div>
          {{event.content|safe}}
          {% if request.user.is_authenticated %}
            <p><a href="{% url 'events:update' event.id %}">Editar</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
