{% extends 'core/base.html' %}
{% load static %}
{% block title %}Libros{% endblock %}
{% block content %}
<main role="main">

      <div class="row">
        {% for libro in libro_list|dictsort:"id" reversed %}
        <div class="col s12 m2">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="../media/{{libro.image}}">
              <a href="{% url 'libros:libro' libro.id libro.title|slugify %}" class="btn-floating btn-large halfway-fab waves-effect waves-light orange darken-4"><i class="material-icons">search</i></a>
            </div>
            <div class="card-content">
              <span class="card-title"><b>{{object.title}}</b></span>
              <p><b>{{libro.author}}</b></p>
              <p><b>Status:</b> {{libro.status}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
      <div class="container">
        {% if is_paginated %}
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
              {% endif %}
              {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
      </div>
  <!--TABS
  <br>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active teal-text text-accent-4" href="#todos">Todos</a></li>
        <li class="tab col s3"><a class="teal-text text-accent-4" href="#donar">Donar</a></li>
        <li class="tab col s3"><a class="teal-text text-accent-4" href="#vender">Vender</a></li>
        <li class="tab col s3"><a class="teal-text text-accent-4" href="#inter">Intercambiar</a></li>
      </ul>
    </div>
    <div id="todos" class="col s12">
      <div class="row">
        {% for libro in libro_list|dictsort:"id" reversed %}
        <div class="col s12 m2">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="../media/{{libro.image}}">
              <a href="{% url 'libros:libro' libro.id libro.title|slugify %}" class="btn-floating btn-large halfway-fab waves-effect waves-light orange darken-4"><i class="material-icons">search</i></a>
            </div>
            <div class="card-content">
              <span class="card-title"><b>{{object.title}}</b></span>
              <p><b>{{libro.author}}</b></p>
              <p><b>Status:</b> {{libro.status}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="donar" class="col s12">
      <div class="row">
        {% for libro in libro_list|dictsort:"id" reversed %}
        <div class="col s12 m2">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="../media/{{libro.image}}">
              <a href="{% url 'libros:libro' libro.id libro.title|slugify %}" class="btn-floating btn-large halfway-fab waves-effect waves-light orange darken-4"><i class="material-icons">search</i></a>
            </div>
            <div class="card-content">
              <span class="card-title"><b>{{object.title}}</b></span>
              <p><b>{{libro.author}}</b></p>
              <p><b>Status:</b> {{libro.status}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="vender" class="col s12">
      <div class="row">
        {% for libro in libro_list|dictsort:"id" reversed %}
        <div class="col s12 m2">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="../media/{{libro.image}}">
              <a href="{% url 'libros:libro' libro.id libro.title|slugify %}" class="btn-floating btn-large halfway-fab waves-effect waves-light orange darken-4"><i class="material-icons">search</i></a>
            </div>
            <div class="card-content">
              <span class="card-title"><b>{{object.title}}</b></span>
              <p><b>{{libro.author}}</b></p>
              <p><b>Status:</b> {{libro.status}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>   
    </div>

    <div id="inter" class="col s12">
      <div class="row">
        {% for libro in libro_list|dictsort:"id" reversed %}
        <div class="col s12 m2">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="../media/{{libro.image}}">
              <a href="{% url 'libros:libro' libro.id libro.title|slugify %}" class="btn-floating btn-large halfway-fab waves-effect waves-light orange darken-4"><i class="material-icons">search</i></a>
            </div>
            <div class="card-content">
              <span class="card-title"><b>{{object.title}}</b></span>
              <p><b>{{libro.author}}</b></p>
              <p><b>Status:</b> {{libro.status}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>   
    </div>
  </div>-->

</main>
{% endblock %}

