{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center amber-text text-accent-4">Como Funciona</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text text-lighten-3">Dona, Vende, Intercambia y lo mejor comparte con otros amantes de la literatura</h5>
        </div>
        <div class="row center">
          <a href="{% url 'signup' %}" id="download-button" class="btn-large waves-effect waves-light amber accent-4">Registrar</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'core/img/fondo/background1.jpg' %}" alt="img 1"></div>
  </div>

  <div class="container">
    <h3 class="header center amber-text text-accent-4">U-Book. <span>Sistema de intercambio de libros</span></h3>
    <p>Aplicación web para el intercambio y venta de libros, el website se crea con la finalidad de incentivar la lectura y elevar el conocimiento, ahorrando dinero y evitando que se deterioren libros que no se usan, para que otras personas les saquen provecho.</p>
  </div>
<div id="opciones">
  <div class="container" >
    <div class="section">
        <h3 class="header center amber-text text-accent-4">Te ofrecemos tres opciones:</h3>
        <p>Aplicación web para el intercambio y venta de libros, el website se crea con la finalidad de incentivar la lectura y elevar el conocimiento, ahorrando dinero y evitando que se deterioren libros que no se usan, para que otras personas les saquen provecho.</p>
      
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-darken-4"><i class="material-icons">import_contacts</i></h2>
            <h5 class="center">Donar</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-darken-4"><i class="material-icons">local_offer</i></h2>
            <h5 class="center">Vender</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-darken-4"><i class="material-icons">swap_horiz</i></h2>
            <h5 class="center">Intercambiar</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}