{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}



  <!-- slider -->
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'core/img/slider/banner1.jpg' %}"> 
        <div class="caption center-align">
          <h3 class="amber-text text-accent-4">{{title}}</h3>
          <h5 class="light grey-text text-lighten-3">Bienvenidos a este espacio literario, de libre intercambio, donación y venta de libros</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'core/img/slider/banner2.jpg' %}"> 
        <div class="caption left-align">
          <h3 class="amber-text text-accent-4">Intercambio</h3>
          <h5 class="light grey-text text-lighten-3">Comparte los libros de tu biblioteca personal y adquiere otros ejemplares que siempre has querido leer</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'core/img/slider/banner3.jpg' %}"> 
        <div class="caption right-align">
          <h3 class="amber-text text-accent-4">Donación</h3>
          <h5 class="light grey-text text-lighten-3">No dejes en el olvido los libros, dónalos a la persona correcta para que le sea de provecho</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'core/img/slider/banner4.jpg' %}"> 
        <div class="caption center-align">
          <h3 class="amber-text text-accent-4">Ventas</h3>
          <h5 class="light grey-text text-lighten-3">Si tenés libros en óptimas condiciones pero no tienes más espacio, te ofrecemos la opción de venderlos</h5>
        </div>
      </li>
    </ul>
  </div>
  <!-- end slider -->
  <!--TABS-->
  <div class="container">
    <div class="row col s12">
      <p>Bienvenido, si eres apasionado por los libros, sabes cuán difícil puede ser emocionalmente deshacerse de un libro, incluso si sabes que nunca lo volverás a leer.<p> 
      <p>Pero si ya no tienes espacio y deseas donarlo aquí podrás encontrar un buen hogar para tus libros y conocer a alguien que los vaya a apreciar.<p>
      <p>Además, puedes estar interesado en leer un montón de libros, y quedarte con los que más te interesen, tienes la opción de intercambiar ese libro que ya no usas por otro que si desees leer.</p> 
      <p>Es un gran crimen cuando un libro termina en la basura, y existen muchas personas que pudieron sacarle más provecho.</p> 
      <p><b>U-BooK</b> mantiene los libros en circulación, y encuentra nuevos lectores para ellos. Si no te interesa intercambiar para obtener libros gratuitos, puedes donar y/o vender los que tienes actualmente.</p>
      <br>
      <div class="center">
        <a href="{% url 'libros:libros' %}" id="download-button" class="btn-small waves-effect waves-light amber accent-4">Ver Libros</a>
      </div>
      
    </div>
  </div>


  <!--fin TABS-->
  <br><br>
      <!--listado de libros-->
      <div class="row">
        {% for libro in libro_list|dictsort:"id" reversed %}
        <div class="col s12 m2">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="../media/{{libro.image}}">
              <a href="{% url 'libros:libro' libro.id libro.title|slugify %}" class="btn-floating btn-large halfway-fab waves-effect waves-light orange darken-4"><i class="material-icons">search</i></a>
            </div>
            <div class="card-content">
              <span class="card-title"><b>{{object.title}}</b></span>
              <p><b>{{libro.author}}</b></p>
              <p><b>Status:</b> {{libro.status}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

{% endblock %}