  
{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{book.title}}{% endblock %}
{% block content %}
{% include 'books/includes/books_menu.html' %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{object.title}}</h2>
        <div>
          {{book.content|safe}}
          {% if request.user.is_authenticated %}
            <p><a href="{% url 'books:update' book.id %}">Editar</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}