{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col s12">
        {% if 'register' in request.GET %}
            <blockquote class="amber-text text-accent-4">Usuario registrado correctamente, ya puedes ingresar.</blockquote>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
          <h3 class="amber-text text-accent-4">Iniciar sesión</h3>
          {% if form.non_field_errors %}
            <p class="red-text text-accent-4">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
          <p>
            <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Nombre de usuario"/>
          </p>
          <p>
            <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contraseña"/>
          </p>
          <p><input type="submit" class="btn-small waves-effect waves-light amber accent-4" value="Acceder"></p>
        </form>
        <p>¿Ha olvidado su contraseña? Puede restaurarla <a href="{% url 'password_reset' %}"><b>aquí</b></a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}