{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <form action="" method="post">{% csrf_token %}
          <h3 class="amber-text text-accent-4">Restablecer contraseña</h3>
          <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
          {{ form.email.errors }}
          <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
          <p><input type="submit" class="btn-small waves-effect waves-light amber accent-4" value="Confirmar"></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}