{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            <!-- Previa del avatar -->
            <div class="col s2">
              {% if request.user.profile.avatar %}
                <img src="{{request.user.profile.avatar.url}}" class="circle responsive-img">
              {% else %}
                <img src="{% static 'registration/img/no-avatar.jpg' %}" class="circle responsive-img">
              {% endif %}
            </div>
            <!-- Formulario -->
            <div class="col s10">
              <h3 class="amber-text text-accent-4">Perfil</h3>
              <input type="file" name="avatar" class="form-control-file mt-3" id="id_avatar">
              <br><br>
              {{ form.bio }}
              {{ form.link }}
              <input type="email" value="{{request.user.email}}" class="form-control mt-3" readonly>
              <p>
                Si deseas editar tu email, haz clic <a href="{% url 'profile_email' %}">aqui</a><br>
                Y si quieres cambiar tu contraseña, haz clic <a href="{% url 'password_change' %}">aqui</a>
              </p>
              <input type="submit" class="btn-large waves-effect waves-light amber accent-4" value="Actualizar">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}